body{
    background-color: #232323;
    margin: 0;
    font-family: "Ubuntu", "sans-serif";
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background-color: "#232323";
    margin: 1.66%;
    float: left;
    border-radius: 20%;
    transition: background-color 0.6s;
    --webkit-transition: background-color 0.6s;
    --moz-transition: background-color 0.6s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

#header {
    padding: 20px 0;
    color: whitesmoke;
    text-align: center;
    background-color: steelblue;
    margin : 0;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    transition: background-color 0.3s;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    background-color: steelblue;
    color: white;
}

#colorDisplay{
    font-size: 170%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: bold;
    color: steelblue;
    letter-spacing: 1px;
    font-family: inherit;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

#message{
    display: inline-block;
    color: #232323;
    width: 20%;
    font-family: inherit;
    font-weight: normal;
}